#banner{	
color: white;/* this sets the text colour in the banner div to white */
background-color: darkgreen;/* this sets the background colour to the correct shade of pink  */
margin:20px; /* this sets the div margins */
padding:20px;/* this sets the div padding */
border:solid darkgreen 3px; /* this sets the borders of the div */
width:1500px; /* this determines the width of the div itself */
height:100px; /* this determines the height of the div */
position: float; /* this sets the div as a floating possision - this is needed so all divs align correctly */
}
#rotatingbox{
color: white; /* this sets the text colour in the banner div to white */
background-color: transparent; /* this sets the background colour to orange  */
margin: 20px; /* this sets the div margins */
padding: 20px; /* this sets the div padding */
border: solid transparent 3px; /* this sets the borders of the div */
width: 750px; /* this determines the width of the div itself */
height: 500px;	/* this determines the height of the div */
top: 130; /* this determines how far from the top the div is */
left: 7; /* this determines how far from the left the div is */
position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
}

#rightbox1{
color: white; /* this sets the text colour in the banner div to white */
background-color: darkgreen; /* this sets the background colour to orange  */
margin: 20px; /* this sets the div margins */
padding: 15px; /* this sets the div padding */
border: solid darkgreen 3px; /* this sets the borders of the div */
width: 700px; /* this determines the width of the div itself */
height: 510px; /* this determines the height of the div */
position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
top: 150px; left: 820px /* this determines how far from the top and left the div is */
}


#midbanner{	
color: white; /* this sets the text colour in the banner div to white */
background-color: darkgreen; /* this sets the background colour to orange  */
margin:20px; /* this sets the div margins */ 
padding:20px; /* this sets the div padding */
border:solid darkgreen 3px; /* this sets the borders of the div */
width:1500px; /* this determines the width of the div itself */
height:800px; /* this determines the height of the div */
top: 1210px; left: 7; /* this determines how far from the top and left the div is */
position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
}

#midbannerbox{
    color: white; /* this sets the text colour in the banner div to white */
    background-color: darkgreen; /* this sets the background colour to orange  */
    margin: 20px; /* this sets the div margins */
    padding: 15px; /* this sets the div padding */
    border: solid darkgreen 3px; /* this sets the borders of the div */
    width: 700px; /* this determines the width of the div itself */
    height: 510px; /* this determines the height of the div */
    position: float; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
    top: 1210; left: 820px /* this determines how far from the top and left the div is */
    }

#rightbox2{
    color: white; /* this sets the text colour in the banner div to white */
    background-color: darkgreen; /* this sets the background colour to orange  */
    margin: 20px; /* this sets the div margins */ 
    padding: 20px; /* this sets the div padding */
    border: solid darkgreen 3px; /* this sets the borders of the div */
    position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
    width: 200px; /* this determines the width of the div itself */
    height: 1090px; /* this determines the height of the div */
    top: 0px; left: 1600; /* this determines how far from the top and left the div is */
    position: float; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
    }




#botbox1{
color: white; /* this sets the text colour in the banner div to white */
background-color: darkgreen; /* this sets the background colour to orange  */
margin: 20px; /* this sets the div margins */ 
padding: 20px; /* this sets the div padding */
border: solid darkgreen 3px; /* this sets the borders of the div */
position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
width: 400px; /* this determines the width of the div itself */
height: 400px; /* this determines the height of the div */
top: 710; left: 30; /* this determines how far from the top and left the div is */
position: absolute; /* this sets the div as a absolute possision - this is needed so all divs align correctly */
}

#botbox2{
color: white;
background-color: darkgreen;
margin: 20px;
padding: 20px;
border: solid darkgreen 3px;
width: 400px;
height: 400px;
position: absolute;
left: 560px;
top: 710;
position: absolute;
}

#botbox3{
color: white;
background-color: darkgreen;
margin: 20px;
padding: 20px;
border: solid darkgreen 3px;
width: 400px;
height: 400px;
position: absolute;
top: 710;
left: 1110px;
}

.font1{
color: white;
font-size: 30;
text-align: center;	
font-family: Ebrima;
top: 10;
	
}

.font2{
color: white;
font-size: 20;
text-align: center;	
font-family: Ebrima;
top: 10;
	
}

